/* Base */

/* @import 'base/global.css'; */

/* @import 'base/reset'; */

/* @import 'base/variables';
@import 'base/typography';

// Components
@import 'components/buttons';
@import 'components/carousel';

// Layout
@import 'layout/grid';
@import 'layout/header';

// Pages
@import 'pages/home';
@import 'pages/contact';

// Themes (optional)
@import 'themes/theme';
@import 'themes/admin';

// Vendors (optional)
@import 'vendors/bootstrap'; */

.movie-card {
    display: flex;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 10px;
}
